/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

html, body { height: 100%; }

.datatable-body-cell {
    font-size: 1rem;
}

.datatable-header-cell {
    font-size: 1rem;
    background-color: darkblue;
    color: white;
}

a {
    cursor: pointer;
    user-select: none;
}