<ng-container *ngIf="authService.isAuthorized()">
<app-header></app-header>

<div class="container-fluid">
    <div class="row">
        <app-sidebar></app-sidebar>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </main>

    </div>

</div>

</ng-container>

<ng-container *ngIf="!authService.isAuthorized()">
    <router-outlet></router-outlet>
</ng-container>